<!DOCTYPE html>
<html lang="en" data-bs-theme="">
  <head>
    <meta charset="UTF-8" />

    <title>SpoolPilot - Dashboard</title>

    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <!--Bootstrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!--Bootstrap icons-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!--Custom-->
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body class="">
    <div
      class="d-flex justify-content-between align-items-start flex-wrap px-3 pt-3"
    >
      <div class="d-flex align-items-center">
        <img
          src="/static/spoolpilotLogo.png"
          alt="Logo"
          style="height: 6em; margin-right: 1rem"
        />
        <h1 class="h1 m-0">SpoolPilot</h1>
      </div>

      <div class="d-flex flex-column align-items-end">
        <!-- Toggle Dark Mode -->
        <div class="form-check form-switch mb-2">
          <input class="form-check-input" type="checkbox" id="darkModeSwitch" />
          <label class="form-check-label" for="darkModeSwitch"
            >🌙 Dark Mode</label
          >
        </div>

        <!-- Login -->
        <div class="d-flex align-items-center gap-2">
          <input
            type="text"
            id="user"
            name="user"
            class="form-control form-control-sm"
            placeholder="Your name"
            style="max-width: 160px"
          />
          <div class="form-check m-0">
            <input
              type="checkbox"
              name="remember"
              class="form-check-input"
              id="remember"
            />
            <label class="form-check-label small" for="remember"
              >Remember</label
            >
          </div>
        </div>
      </div>
    </div>

    <ul class="nav nav-tabs mb-4" id="spoolpilotTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button
          class="nav-link active"
          id="tab-dashboard"
          data-bs-toggle="tab"
          data-bs-target="#dashboard"
          type="button"
          role="tab"
        >
          🧭 Dashboard
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="tab-stock"
          data-bs-toggle="tab"
          data-bs-target="#stock"
          type="button"
          role="tab"
        >
          📦 Stock
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="tab-printers"
          data-bs-toggle="tab"
          data-bs-target="#printers"
          type="button"
          role="tab"
        >
          🖨 Printer(s) management
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="tab-history"
          data-bs-toggle="tab"
          data-bs-target="#history"
          type="button"
          role="tab"
        >
          ⏳ Print history
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="tab-stats"
          data-bs-toggle="tab"
          data-bs-target="#stats"
          type="button"
          role="tab"
        >
          📊 Statistics
        </button>
      </li>
    </ul>

    <div class="tab-content" id="spoolpilotTabsContent">
      <div
        class="container py-4 tab-pane fade show active"
        id="dashboard"
        role="tabpanel"
      >
        {% include "tabs/dashboard_tab.html" %}
      </div>
      <div class="container py-4 tab-pane fade" id="printers" role="tabpanel">
        <div class="mb-4 col-md-8">
          <div class="card-body">
            <h3 class="mb-4 col-md-9">🖨 Printer(s)</h3>
            <p>Printer status, AMS state, etc.</p>
          </div>
        </div>
      </div>

      <div class="container py-4 tab-pane fade show" id="stock" role="tabpanel">
        {% include "tabs/stock_tab.html" %}
      </div>

      <div class="container py-4 tab-pane fade" id="history" role="tabpanel">
        <div class="mb-4 col-md-8">
          <div class="card-body">
            <h3 class="mb-4 col-md-9">⏳ History</h3>
            <p>Print logs and export options</p>
          </div>
        </div>
      </div>
      <div class="container py-4 tab-pane fade" id="stats" role="tabpanel">
        <div class="mb-4 col-md-8">
          <div class="card-body">
            <h3 class="mb-4 col-md-9">📊 Statistics</h3>
            <p>Charts and print metrics</p>
          </div>
        </div>
      </div>
    </div>
    <script src="/static/script.js" defer></script>
    <!--called here to be sure all tabs are init-->
  </body>
</html>
